<% provide(:title, t(".help")) %>
<section id="home">
  <header>
    <div class="container">
      <div class="header-content text-center">
        <div class="header-content-inner">
          <h1><%= t(".help") %></h1>
          <hr>
          <p><%= t(".paragraph") %></p>
        </div>
      </div>
    </div>
  </header>
</section>
