@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a:hover{
  text-decoration: none;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.active-cyan-4 {
  input{
    margin: 8px 0;
  }
  input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.row{
  margin: 0px;
}

/* Users index */
.books {
  overflow: hidden;
  li{
    img{
      width: 50px;
    }
  }
  .card{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 15px;
    img{
      width: 100%;
    }
    .card-body{
      padding: 15px;
      h5{
        height: 17px;
      }
    }
    &:hover{
      border: 1px solid #ffbc00;
    }
    small{
      font-size: 10px;
    }
  }
}

/* Users index */
.users, .books, .categories {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.carts {
  overflow: hidden;
  list-style: none;
  li{
    img{
      width: 50px;
      overflow: auto;
    }
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  .card{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 15px;
    img{
      width: 100%;
    }
    .card-body{
      padding: 15px;
      h5{
        height: 17px;
      }
    }
    &:hover{
      border: 1px solid #ffbc00;
    }
    small{
      font-size: 10px;
    }
  }
}

.comment{
  margin-bottom: 1em;
  font-size: 14px;
  border-bottom: 1px solid gray;
  .name{
    color: blue;
    font-weight: bold;
  }
  .date{
    font-size: 12px;
  }
}

:focus {
  outline: none;
}

.absolute-wrapper{
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}

/*-----Side navigation bar-----*/
.side-menu {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
  transition: all 0.5s ease-in-out;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  margin-right: -1px;
  transition: all 0.4s ease-in;
  color: #337ab7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
}
.side-menu .navbar-nav li a {
  padding: 10px 25px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}

.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}

/*-----Side body-----*/
.side-body {
  margin-left: 250px;
  margin-bottom: 60px;
  transition: all 0.5s ease-in-out;
}
.side-footer{
  margin-left: 250px;
  transition: all 0.5s ease-in-out;
}

/*-----Navbar-----*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #e7e7e7;
  margin-right: -1px;
  color: #337ab7;
  transition: all 0.2s ease-in
}
.navbar-right .dropdown-menu{
  right:0;
  left:auto;
}
.navbar-nav{
  margin:0;
}
.nav>li{
  float:left;
}
.nav>li>a{
  padding: 12px;
}
.navbar-right .fa-fw {
  border: 1px solid;
  width: 35px;
  border-radius: 50%;
  height: 35px;
  line-height: 35px;
  color: #fff;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
  width:310px;
}
.dropdown-tasks .progress{
  margin-bottom:0;
}
.dropdown-alerts li div{
  line-height: 35px;
}
.dropdown-menu>li>a{
  white-space: normal;
}
.bell .fa-fw{ background-color: #FF5722;}
.task .fa-fw{ background-color: #337ab7;}
.user .fa-fw{ background-color: #FFC107;}
.envelope .fa-fw{ background-color: #4CAF50;}

/*-----Side navigation bar (extra)-----*/
.panel-heading{
  color:#fff;
}
.off{
  transform: translate(-300px);
}
.full-width{
  margin-left: 10px;
}
.menu{
  padding: 6px 12px;
  margin: 12px;
}
.img-resize{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #000;
}
header{
  height: 60px;
  background-color: #f8f8f8;
  padding: 0;
  border-bottom: 1px solid #e7e7e7;
}

.logo{
  background-color: #f20;
  width:250px;
  height:60px;
  line-height: 60px;
  transition: all 0.5s ease-in;
}
.logo a{
  color:#fff;
  font-weight: bold;
  font-size: 30px;
}
.huge{
  font-size: 50px;
}

/*-----Dashboard panels-----*/
.panel-primary {
  .panel-footer {
    span {
      color: #337ab7
    }
  }
}
.panel-primary .panel-footer:hover { background-color: #337ab7; transition: all 0.2s ease-in }
.panel-primary .panel-footer:hover span { color: #fff }

.panel-green { border:1px solid #4CAF50; }
.panel-green .panel-heading{ border:1px solid #4CAF50; background-color: #4CAF50 }
.panel-green .panel-footer span{ color: #4CAF50 }
.panel-green .panel-footer:hover { background-color: #4CAF50; transition: all 0.2s ease-in }
.panel-green .panel-footer:hover span { color: #fff }

.panel-red { border:1px solid #FF5722; }
.panel-red .panel-heading{ border:1px solid #FF5722; background-color: #FF5722 }
.panel-red .panel-footer span{ color: #FF5722 }
.panel-red .panel-footer:hover { background-color: #FF5722; transition: all 0.2s ease-in }
.panel-red .panel-footer:hover span { color: #fff }

.panel-yellow { border:1px solid #FFC107; }
.panel-yellow .panel-heading{ border:1px solid #FFC107; background-color: #FFC107 }
.panel-yellow .panel-footer span{ color: #FFC107 }
.panel-yellow .panel-footer:hover { background-color: #FFC107; transition: all 0.2s ease-in }
.panel-yellow .panel-footer:hover span { color: #fff }

/*-----Breadcrumbs-----*/
.page-title-box{
  border-bottom: 1px solid #337ab7;
  margin-bottom: 30px;
  padding-left: 10px;
}
.breadcrumb{
  margin-top: 14px;
  margin-bottom: 0;
  background-color: transparent;
}

/*-----List Group-----*/
.list-group {
  height: 206px;
  overflow: auto;
}

/*-----Data Tables-----*/
table th{
  white-space: nowrap;
}

/*-----Extra classes-----*/
.marr20{
  margin-right: 20px;
}
.padd20{
  padding:20px;
}
.footer{
  background-color: #ccc;
  padding:5px;
}

::-webkit-scrollbar,{
  width:5px;
}
::-webkit-scrollbar-track {
  background-color: #337ab7;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-button {
  background-color: #d9edf7;
}
::-webkit-scrollbar-corner {
  background-color: black;
}

/*-----Media classes-----*/
@media (max-width: 768px){
  .navbar-right li:nth-child(n){
    display:none;
  }
  .navbar-right li:last-child{
    display: block;
  }
  .side-menu{
    margin-left:-250px;
    z-index: 999;
  }
  .side-body{
    margin-left: 0;
  }
  .off {
    z-index: 999;
    transform: translate(250px);
  }
  .side-footer{
    margin-left: 0;
  }
  .logo{
    width:195px;
  }
  .logo img{
    width:90%;
  }
  .marr20 {
    margin-right: 0px;
  }
}
@media (max-width: 400px) and (min-width: 290px){
  .logo{
    width: 150px;
  }
}

.container-fluid{
  padding: 0;
}

/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine Regular'), local('Tangerine-Regular'), url(IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

/*Nav*/
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  background: #76716b;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: #FF0052;
  background-color: transparent;
  outline: none;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #E05416;
  background-color: transparent;
}

.navbar-brand {
  padding: 15px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-inverse.navbar-animated {
  background-color: #222222;
}

.navbar-inverse .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a {
  color: #000;
}

a:hover,
a:focus {
  color: #e05416;
  text-decoration: none;
}

.navbar-brand:before {
  content: 'Sun*';
  background-color: #E05416;
  position: absolute;
  width: 73px;
  height: 60px;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  padding: 3px 10px;
  z-index: -1;
  border: 3px solid;
  vertical-align: bottom;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #E05416;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #E05416;
}

.navbar-toggle {
  margin-right: 0;
  padding: 9px 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

section#about,
footer {
  background: #222222;
  color: #fff;
}

section#contact {
  background: #fff;
  color: #000;
}

section#about,
section#contact,
section#portfolio {
  padding: 50px 0;
}

/*header*/
header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  background-image: url('banner.jpg');
  z-index: -2;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  height: 100vh;
}

header:before {
  content: '';
  position: absolute;
  background: #000;
  opacity: .5;
  top: 0;
  left: 0;
  right: 0;
  bottom: -60px;
}

p.lead {
  color: #eae1d5;
}

header .header-content .header-content-inner {
  padding: 100px 0 50px;
  position: relative;
  z-index: 1;
}

header .header-content .header-content-inner p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 25px;
}

header .header-content .header-content-inner h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

hr {
  border-color: #f05f40;
  border-width: 3px;
  max-width: 50px;
}

footer {
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

#contact .section-heading {
  margin: 0 0 2em;
}

#contact #message {
  min-height: 132px;
  height: auto;
}

footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #E05416;
}

@media (min-width: 768px) {
  .navbar-inverse {
    padding: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .header-content .header-content-inner {
    padding: 0;
    height: 300px;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    position: absolute;
  }
  header .header-content .header-content-inner p {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 25px;
  }
  header .header-content .header-content-inner h1 {
    font-size: 75px;
    line-height: 75px;
  }
  .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-inverse.navbar-animated {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-inverse.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

@media screen and (max-width:768px) {
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    float: left!important;
    background: #222;
    width: 100vw;
    position: absolute;
  }
  .navbar-inverse .navbar-toggle {
    z-index: 1;
    position: relative;
  }
}

.alert{
  position: relative;
  z-index: 99;
}

.fixed-top{
  background: #fff;
  border-bottom: 1px solid #000;
}

.login{
  padding: 70px;
  .thumbnail{
    padding: 50px;
    &:hover{
      border: 1px solid #e05416;
    }
  }
}

.thumbnail{
  &:hover{
    border: 1px solid #e05416;
    -webkit-box-shadow: -2px 3px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 3px 1px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 3px 1px rgba(0,0,0,0.75);
  }
}

.panel{
  .col-md-2{
    a{
      margin: 8px 0;
    }
  }
}

a{
  .checked{
    color: #e05416
  }
}
.col-md-4{
  div.stars{
    width: 270px;
    display: inline-block;
  }
}

input.star{
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content:'\f005';
  color: #FD4;
  transition: all .25s;
}


input.star-5:checked ~ label.star:before {
  color:#FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover{
  transform: rotate(-15deg) scale(1.3);
}

label.star:before{
  content:'\f006';
  font-family: FontAwesome;
}

.rev-box{
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .25s;
}

textarea.review{
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: #EEE;
}

label.review{
  display: block;
  transition:opacity .25s;
}

input.star:checked ~ .rev-box{
  height: 125px;
  overflow: visible;
}
